.wheatherBg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  height: 50vh;
  background-image: url("./bg.jpg");
}


.weatherResultBox{
  margin: auto;
  height: 300px;
  width: 300px;
}
.icon{
  width: 160px;
  height: 170px;
}

.temp{
  font-size: 55px;
  font-weight: 700;
}

.title{
  color: rgb(240, 234, 234);
  font-weight: 700;
}

